:root {
	--white-height: 300px;
	--white-width: 90px;
	--black-height: 200px;
	--black-width: 50px;
	--number-size: 2.5em;
}

li {
	font-size: 1.5em;
}

div.chart {
	display: flex;
	justify-content: center;
}

div.chart div {
	border: 2px solid black;
	border-inline-color: gray;
	box-shadow: 3px 3px 15px 0px rgba(100, 100, 100, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: center;
}

div.chart div b.color-red, li.color-red { color: red !important; }
div.chart div b.color-green, li.color-green { color: green !important; }
div.chart div b.color-blue, li.color-blue { color: blue !important; }
div.chart div b.color-orange, li.color-orange { color: orange !important; }
div.chart div b.color-violet, li.color-violet { color: violet !important; }

div.chart div b {
	font-size: var(--number-size);
}

div.chart div.black b {
	color: ivory;
	text-shadow: 1px 1px 2px rgba(250, 250, 250, 0.75);
}
div.chart div.white b {
	color: black;
	text-shadow: 1px 1px 2px rgba(100, 100, 100, 0.75);
}

div.chart div.white {
	background-color: white;
	width: var(--white-width);
	height: var(--white-height);
}

div.chart div.black {
	background-color: black;
	width: var(--black-width);
	height: var(--black-height);
	margin-left: calc(var(--black-width) / -2 - 3px);
	z-index: 1;
}

div.chart div.black + div.white {
	margin-left: calc(var(--black-width) / -2);
}

div.chart div.white + div.white {
	margin-left: 1px;
}