span[i18n-flags] { margin-right: 20px; }
span[i18n-flags] a img { width: 27px; height: 17px; pointer-events: none; }
span[i18n-flags] a:not(:last-child) { margin-right: 10px; }
span[i18n-flags] a.on { opacity: 1; }
span[i18n-flags] a.off { opacity: 0.25; }
